pip==20.2.2
bumpversion==0.6.0
wheel==0.35.1
watchdog==0.10.3
flake8==3.8.3
tox==3.19.0
coverage==5.2.1
codecov==2.1.8
Sphinx==3.2.1
twine==3.2.0
shapely==1.7.0
scipy==1.5.2
m2r2==0.2.7
geopandas==0.8.1
